
.DS_Store

*.json

*.dll

*.pdb

*.cs

*.cache

hw7/Perceptrons/Perceptron/obj/Debug/netcoreapp1.0/Perceptron.csproj.FileListAbsolute.txt

hw7/Perceptrons/Perceptron/obj/Perceptron.csproj.nuget.g.props

hw7/Perceptrons/Perceptron/obj/project.assets.json

hw7/Perceptrons/Perceptrons.userprefs
